[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if __name__ == .__main__.:
    log(|ging)\.(debug|info|warning)
    raise AssertionError
    raise NotImplementedError
